* {
  padding: 0;
  margin: 0;
  font-family: 'Rubik', sans-serif;
}

html {
  scroll-behavior: smooth !important;
}

body {
  overflow-x: hidden;
  direction: rtl;
  -ms-overflow-style: none; /* for Internet Explorer, Edge */
  scrollbar-width: none; /* for Firefox */
  overflow-y: scroll !important;
}

body::-webkit-scrollbar {
  display: none; /* for Chrome, Safari, and Opera */
}

.logo-comp {
  display: flex;
  align-items: center;
  transition: text-shadow 200ms ease-in-out;
  text-shadow: 0 -1px 4px #c2afaf, 2px 2px 2px rgba(14, 190, 206, 0), 0 -13px 16px #0EBECE;
}

.logo-comp:hover {
  text-shadow: 0 -1px 4px #FFF, 0 -13px 16px rgba(215, 205, 10, 0.28), 0 -13px 16px rgba(215, 205, 10, 0.28);
}

.logo-comp img {
  transition: transform 0.5s ease;
  margin-left: 8px;
}

.logo-comp h1 {
  font-weight: 400;
  pointer-events: none;
}


/* icon nagishLi design*/
#NagishLiTrigger {
  bottom: 20px;
  /* top:10px; */
  right: initial;
  left: 5px;
  transform: scale(0.7, 0.7);
  filter: grayscale(100%);
}

@media (max-width:991px) {
  .container {
    max-width: 700px;
  }
}


.md-lunch-break-class.mbsc-schedule-invalid {
  text-align: center;
  align-items: center;
  font-weight: bold;
  background: repeating-linear-gradient(-45deg, #f3f3f3, #f3f3f3 11px, #e5e5e5 11px, #e5e5e5 22px);
}

.md-lunch-break-class.mbsc-schedule-invalid {
  text-align: center;
  align-items: center;
  font-weight: bold;
  background: repeating-linear-gradient(-45deg, #f3f3f3, #f3f3f3 11px, #e5e5e5 11px, #e5e5e5 22px);
}

.md-stripes-bg {
  background: repeating-linear-gradient(-45deg, #fcfffc, #fcfffc 10px, #eefbec 10px, #eefbec 20px);
}

.md-dots-bg {
  background-image: radial-gradient(#a7a7a7 20%, transparent 20%);
  background-color: #f9f9f9;
  background-position: 0 0, 10px 10px;
  background-size: 20px 20px;
}

.md-rect-bg {
  opacity: 0.8;
  background-image: repeating-linear-gradient(45deg, #ffd6d6 25%, transparent 25%, transparent 75%, #ffd6d6 75%, #ffd6d6), repeating-linear-gradient(45deg, #ffd6d6 25%, #ffefef 25%, #ffefef 75%, #ffd6d6 75%, #ffd6d6);
  background-position: 0 0, 10px 10px;
  background-size: 20px 20px;
}